:root {
  --wine: #691717; --gold: #BB993E; --beige: #BAA97C; --black: #000000;
  --white: #FFFFFF; --gray: #525656; --secondBlack: #221F20; --yellow: #F9C430;
  --red: #cf0000; --smoothWhite: #FCF9EA;
}

section {
	position: relative;
}

.container {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.divider {
	left: 0;
  top: -4.14vw;
  height: 4.14vw;
  width: 100%;
  position: absolute;
}

/*Estilos del header*/

.header {
	top: 0;
  width: 100%;
  z-index: 1001;
  display: flex;
  height: 4.14vw;
  position: sticky;
  align-items: center;
  justify-content: space-between;
  background-color: var(--black);
}

.header__logo {
  z-index: 10;
	width: 2.72vw;
  height: 2.72vw;
  display: block;
  position: relative;
  margin-left: 11.79vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../src/svg/logo.svg);
}

.header__options {
	z-index: 10;
  display: flex;
  align-items: center;
  padding-right: 11.79vw;
}

.option {
  color: white;
	cursor: pointer;
  list-style: none;
  font-size: 0.96vw;
  padding-right: 1.38vw;
  transition: color .4s;
  font-family: Roboto-Regular;
}

.option:hover {
   color: var(--gold);
 }

 .header__btnBurger {
  right: 0;
  width: 55px;
  height: 55px;
  z-index: 1002;
  cursor: pointer;
  user-select: none;
  padding-top: 17px;
  padding-left: 10px;
  position: absolute;
  background-color: transparent;
 }

 .header__btnBurger > div {
  background: var(--white);
  margin-bottom: 6px;
  border-radius: 2px;
  width: 28px;
  height: 3px;
  opacity: 1;
  transition: transform 0.3s cubic-bezier(0.05, 1.04, 0.72, 0.98);
 }

 .header__btnBurger--active div:nth-child(1) {
  transform: translateY(200%) rotate(45deg);
  background: var(--black);
 }

 .header__btnBurger--active div:nth-child(2) {
  opacity: 0;
 }

 .header__btnBurger--active div:nth-child(3) {
  transform: translateY(-400%) rotate(-45deg);
  background: var(--black);
 }

 .header__navVertical {
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 1000;
    overflow: hidden;
    position: absolute;
    transition: width .5s;
    width: 0px;
    background-color: var(--white);
 }

 .navVertical__options {
  padding-top: 90px;
 }

.optionVertical {
  height: 64px;
  display: flex;
  cursor: pointer;
  align-items: center;
  font-weight: 800;
  white-space: nowrap;
  visibility: hidden;
  color: black;
  font-size: 14px;
  padding-left: 20px;
  font-family: Roboto-Regular;
  transition: font-size .1s;
}

.header__navVertical--active {
  width: 60%;
  box-shadow: 0px -1px 16px -5px var(--black);
}

.header__navVertical--active .optionVertical {
  visibility: visible;
}

 /*Estilos del banner principal*/

.banner {
  padding: 2.41vw 0 6.55vw 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(../src/img/banner.jpg);
}

.banner__contentLeft {
	grid-column: span 6;
	display: flex;
	flex-direction: column;
	align-items: center;
  justify-content: flex-start;
}

.shield {
	display: flex;
  height: 19.80vw;
  width: 20.83vw;
  padding-top: 2.89vw;
  justify-content: center;
  align-items: flex-start;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../src/svg/shield.svg);
}

.shield__number {
	color: white;
  text-align: center;
  font-size: 8.28vw;
  line-height: 7.93vw;
  font-family: Spartan-Bold;
}

.shield__text {
	color: white;
  font-size: 1.10vw;
  font-weight: 700;
  text-align: center;
  font-family: Spartan-Regular;
}

.shield__bottomText {
	color: white;
  font-size: 1.10vw;
  font-weight: 550;
  text-align: center;
  padding-top: 2.76vw;
  padding-bottom: 1.79vw;
  font-family: Spartan-Medium;
}

.containerBar {
  width: fit-content;
	background-color: white;
  border-radius: 0.55vw;
  padding: 1.86vw 1.10vw;
}

.containerBar__textTop {
	color: var(--black);
  text-align: center;
  font-size: 1.10vw;
  white-space: nowrap;
  padding-bottom: 1.31vw;
  font-family: Spartan-bold;
}

.containerBar__bar {
  margin: 0;
	width: 100%;
  height: 1.65vw;
  position: relative;
  border-radius: 1.65vw;
  background-color: var(--gray);
}

.containerBar__progress {
  top: 0;
  left: 0;
  width: 50%;
  height: 1.65vw;
  position: absolute;
  border-radius: 1.65vw;
  background: linear-gradient(90deg, #EE8326 -55.16%, #F08D28 -25.56%, #F4A82C 24.55%, #F9C430 68.07%);
}

.containerBar__textBottom {
	display: flex;
	justify-content: space-between;
}

.containerBar__textBottom > p {
	font-size: 1.24vw;
  padding-top: 1.03vw;
  white-space: nowrap;
  font-family: Spartan-Bold;
}

.containerBar__textBottom .textLeft {
	color: var(--yellow);
  textAlign: left;
}

.containerBar__textBottom .textRight {
	color: var(--gray);
  text-align: right;
}

.banner__contentRight {
	grid-column: span 6;
	display: flex;
	align-items: flex-start;
  justify-content: center;
}

.contentBanner {
	grid-column: span 9;
}

.contentBanner__text {
	color: var(--white);
  text-align: right;
  padding: 3.79vw 0 3.31vw;
  line-height: 1;
}

.contentBanner__text span:nth-child(1) {
	color: var(--white);
  font-size: 5.52vw;
  white-space: nowrap;
  font-family: Spartan-ExtraBold;
}

.contentBanner__text span:nth-child(2) {
	color: var(--red);
  font-size: 5.52vw;
  white-space: nowrap;
  font-family: Spartan-ExtraBold;
}

.contentBanner__text span:nth-child(4) {
	color: var(--white);
  font-size: 3.58vw;
  white-space: nowrap;
  font-family: Spartan-Bold;
}

.contentBanner__text span:nth-child(6) {
	color: var(--white);
  font-size: 2.89vw;
  white-space: nowrap;
  font-family: Spartan-Regular;
}

.contentBanner__text span:nth-child(8) {
	color: var(--red);
  font-size: 3.58vw;
  white-space: nowrap;
  font-family: Spartan-Bold;
}

.contentBanner__text span:nth-child(10) {
	color: var(--white);
  font-size: 2.89vw;
  white-space: nowrap;
  font-family: Spartan-Regular;
}

.containerLogo {
	display: flex;
	justify-content: flex-end;
  align-items: center;
}

.containerLogo__logo {
	height: 6.27vw;
  width: 7.93vw;
  margin-right: 1.24vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../src/svg/logo.svg);
}

.containerLogo__textLogo {
	color: var(--gold);
  text-align: left;
  line-height: 1;
}

.containerLogo__textLogo span:nth-child(1) {
	font-size: 1.38vw;
  white-space: nowrap;
  line-height: 1.93vw;
  font-family: Spartan-Light;
}

.containerLogo__textLogo span:nth-child(3) {
	font-size: 2.76vw;
  white-space: nowrap;
  font-family: Spartan-ExtraBold;
}

.containerLogo__textLogo span:nth-child(5) {
	font-size: 1.24vw;
  white-space: nowrap;
  font-family: Spartan-Bold;
}

/*Estilos de la seccion "Sobre nosotros"*/

.aboutUs {
	position: relative;
  background-color: var(--smoothWhite);
}

.aboutUs__contentLeft {
	display: grid;
  padding-top: 5.7vw;
  grid-column: span 6;
	grid-template-columns: repeat(12, 1fr);
}

.containerText {
	grid-column: 4 / 13;
}

.containerText > p {
	font-size: 2.89vw;
}

.containerText p:nth-child(1) {
	color: var(--beige);
	margin-bottom: 0;
	font-family: Spartan-Bold;
}

.containerText p:nth-child(2) {
	color: var(--wine);
  font-family: Spartan-Black;
}

.aboutUs__contentRight {
	display: grid;
  padding-top: 4.83vw;
  grid-column: span 6;
  padding-bottom: 4.83vw;
  grid-template-columns: repeat(12, 1fr);
}

.containerParagraph {
	grid-column: span 9;
}

.containerParagraph > p {
	color: black;
  font-size: 1.10vw;
  line-height: 1.65vw;
  font-family: Spartan-Regular;
}

.containerParagraph p:nth-child(1) {
	padding-bottom: 2.07vw;
}

.bannerStadium {
	z-index: 4;
	padding-top: 13.45vw;
  padding-bottom: 13.45vw;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-image: url(../src/img/stadium.png);
}

.bannerStadium__text {
	grid-column: 4 / 10;
}

.bannerStadium__text::before {
	top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 5;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
}

.bannerStadium__text > p {
	z-index: 6;
	color: var(--white);
  position: relative;
  font-size: 3.31vw;
  text-align: center;
}

.bannerStadium__text p:nth-child(1) {
  font-family: Spartan-Bold;
}

.bannerStadium__text p:nth-child(2) {
	font-family: Spartan-Medium;
}

/*Estilos de la seccion "Nuestros Objetivos"*/

.ourObjetives {
  background-color: var(--secondBlack);
}

.ourObjetives__contentLeft {
	display: grid;
	grid-column: span 6;
	padding: 6.48vw 0 6.96vw;
	grid-template-columns: repeat(12, 1fr);
}

.wrapperText {
	grid-column: 4 / 13;
}

.wrapperText > p {
	color: white;
  font-size: 1.10vw;
  line-height: 1.65vw;
  font-family: Spartan-Light;
}

.wrapperText p:first-child {
	padding-bottom: 2.07vw;
}

.ourObjetives__contentRight {
	display: grid;
	grid-column: span 6;
	padding-top: 6.34vw;
	grid-template-columns: repeat(12, 1fr);
}

.wrapperTitle {
	grid-column: span 9;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.wrapperTitle__title p:nth-child(1) {
	color: var(--white);
  font-size: 2.89vw;
  margin-bottom: 0;
  font-family: Spartan-Regular;
}

.wrapperTitle__title p:nth-child(2) {
	color: var(--gold);
  font-size: 2.89vw;
  font-family: Spartan-ExtraBold;
}

.wrapperTitle__points {
	width: 15.45vw;
  height: 3.86vw;
  margin-top: 1.10vw;
  margin-right: 1.93vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../src/svg/points.svg);
}

/*Estilos de la seccion "Transparencia"*/

.transparency__contentLeft {
  display: grid;
  padding-top: 7.38vw;
  grid-column: span 6;
  grid-template-columns: repeat(12, 1fr);
}

.wrapperLeft {
  grid-column: 4 / 13;
}

.wrapperLeft > p {
  color: var(--wine);
  font-size: 2.89vw;
  padding-bottom: 2.82vw;
  font-family: Spartan-Bold;
}

.wrapperLeft > div {
  display: flex;
}

.wrapperLeft button {
  height: 4.14vw;
  padding: 1.10vw;
  border-radius: 0.27vw;
  outline: none;
  background-color: transparent;
  border: 1px solid var(--gold);
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 0.82vw;
  font-weight: bold;
  font-family: Roboto-Regular;
}

.wrapperLeft__btnStatus {
  margin-right: 1.03vw;
  min-width: 11.04vw;
  color: var(--gold);
  background-color: var(--white);
}

.wrapperLeft__btnStatus::before {
  width: 2.20vw;
  height: 2.76vw;
  content: "";
  margin-right: 0.62vw;
  background: url('../src/svg/paper.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.wrapperLeft__btnTeam {
  min-width: 11.04vw;
  color: var(--white);
  background-color: var(--gold) !important;
}

.wrapperLeft__btnTeam::before {
  width: 2.20vw;
  height: 2.76vw;
  content: "";
  margin-right: 0.62vw;
  background: url('../src/svg/peoples.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.transparency__contentRight {
  display: grid;
  padding-top: 7.38vw;
  grid-column: span 6;
  padding-bottom: 4.83vw;
  grid-template-columns: repeat(12, 1fr);
}

.wrapperRight {
  grid-column: span 9;
}

.wrapperRight > p {
  color: 'black';
  font-size: 1.10vw;
  line-height: 1.65vw;
  font-family: Spartan-Regular;
}

.wrapperRight p:first-child {
  padding-bottom: 2.07vw;
}

.containerPartners {
  background: var(--beige);
  height: 16.56vw;
  max-width: 100%;
  overflow: hidden;
  z-index: 10;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate3d(0, 0, 0);
}

.containerPartners > p {
  color: var(--white);
  font-size: 2.76vw;
  position: relative;
  z-index: 11;
  text-align: center;
  font-family: Spartan-Light;
}

.wrapper {
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
  /*animation: moveSlideshow 35s linear infinite; */
  animation: moveSlideshow 5s linear infinite;
}

.wrapper:hover {
  animation-play-state: paused;
}

@keyframes moveSlideshow {
  100% { 
    transform: translateX(-50%);  
  }
}

.column {
  flex: 0 0 auto;
}

.partner {
  width: 5.52vw;
  height: 5.52vw;
  position: relative;
  z-index: 1;
  cursor: pointer;
  background-size: cover;
}

.partner::after {
  content: "";
  position: absolute;
  top: 0;
  right:0;
  width: 100%;
  height: 100%;
  background-color: var(--beige);
  opacity: .6;
  z-index: 2;
  transition: opacity .5s;
}

.partner:hover::after {
  opacity: 0;
}

/*Estilos de la seccion "Como Participar"*/

.takePart {
  position: relative;
  background-color: var(--smoothWhite);
  padding-top: 9.03vw;
  padding-bottom: 10.69vw;
}

.takePart__contentLeft {
  grid-column: span 6;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.outline {
  display: grid;
  grid-column: 4 / 13;
  border: 0.138vw dashed var(--beige);
  border-radius: 0.69vw;
  padding-top: 3.34vw;
  padding-bottom: 3.34vw;
  grid-template-columns: repeat(12, 1fr);
}

.outline__paragraph {
  grid-column: 3 / 11;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outline__paragraph > p {
  color: black;
  font-size: 1.10vw;
  line-height: 1.65vw;
  text-align: center;
  padding-bottom: 3.58vw;
  font-family: Spartan-Regular;
}

.outline__logoBcp {
  width: 14.49vw;
  height: 3.65vw;
  background: url(../src/svg/bcp.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 1.31vw;
}

.outline__account {
  grid-column: 3 / 11;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outline__account > p {
  color: black;
  font-size: 1.10vw;
  line-height: 1.65vw;
  text-align: center;
  margin-bottom: 0;
  font-family: Spartan-Medium;
}

.takePart__contentRight {
  grid-column: span 6;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.contentRight {
  grid-column: span 9;
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: flex-end;
}

.contentRight > div {
  display: flex;
}

.contentRight button {
  height: 4.14vw;
  padding: 1.10vw;
  border-radius: 0.27vw;
  outline: none;
  background-color: transparent;
  border: 1px solid var(--gold);
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 0.82vw;
  font-weight: bold;
  font-family: Roboto-Regular;
}

.contentRight__title {
  color: var(--wine);
  font-size: 3.31vw;
  text-align: right;
  padding-bottom: 1.38vw;
  margin-bottom: 0;
  line-height: 1;
  font-family: Spartan-ExtraBold;
}

.contentRight__title > span {
  color: var(--beige);
  font-family: Spartan-Medium;
}

.contentRight__paragraph {
  color: black;
  width: 90%;
  font-size: 1.10vw;
  line-height: 1.65vw;
  text-align: right;
  padding-bottom: 3.17vw;
  font-family: Spartan-Regular;
}

.contentRight__btn {
  margin-right: 1.03vw;
  min-width: 11.04vw;
  color: var(--gold);
  background-color: var(--white);
}

.contentRight__btn::before {
  width: 2.20vw;
  height: 2.76vw;
  content: "";
  margin-right: 0.62vw;
  background: url('../src/svg/paper.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.contentRight__btnDeclaration {
  min-width: 11.04vw;
  color: var(--white);
  background-color: var(--gold) !important;
}

.contentRight__btnDeclaration::before {
  width: 2.48vw;
  height: 2.76vw;
  content: "";
  margin-right: 0.62vw;
  background: url('../src/svg/contract.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

/*Estilos de la seccion "Contactanos"*/

.contactUs {
  position: relative;
  background-color: var(--secondBlack);
  justify-content: center;
  border-bottom: 0.069vw solid #BB993E;
}

.contactUs__content {
  grid-column: 4 / 10;
  padding-top: 5.17vw;
  padding-bottom: 5.65vw;
  justify-content: center;
}

.contactUs__content h1 {
  margin: 0;
  color: var(--gold);
  font-size: 2.48vw;
  line-height: 1;
  text-align: center;
  padding-bottom: 1.86vw;
  font-family: Spartan-Bold;
}

.contactUs__content p {
  color: white;
  font-size: 1.10vw;
  text-align: center;
  line-height: 1.23vw;
  padding-bottom: 2.62vw;
  font-family: Spartan-Light;
}

.contactUs__content > form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactUs__content div {
  width: 100%;
  position: relative;
  padding-bottom: 1.51vw;
}

.contactUs__content label {
  color: white;
  font-size: 1.10vw;
  line-height: 1.24vw;
  font-family: Spartan-Light;
}

.contactUs__content input {
  height: 3.34vw;
  width: 100%;
  padding: 0 .69vw;
  background: #F7F7F7;
  border-radius: 0.69vw;
  border: 0.069vw solid #DBDCE8;
  margin-top: 0.96vw;
  font-family: Spartan-Regular;
}

.contactUs__content textarea {
  height: 10.35vw;
  width: 100%;
  padding: 0 .69vw;
  background: #F7F7F7;
  border-radius: 0.69vw;
  border: 0.069vw solid #DBDCE8;
  margin-top: 0.96vw;
  font-family: Spartan-Regular;
}

.contactUs__content input:focus,
.contactUs__content textarea:focus
{
  border: transparent;
  outline: none;
  box-shadow: 0px 0px 0px 0.13vw var(--gold);
}

.contactUs__btnSubmit {
  color: white;
  display: inline-block;
  width: 16.83vw;
  height: 3.45vw;
  background: var(--gold);
  border: 0.103vw solid var(--gold);
  border-radius: 0.55vw;
  padding: 1.31vw 0;
  font-size: 0.89vw;
  margin-top: 1.51vw;
  font-family: Spartan-Medium;
}

.footer {
  display: flex;
  background-color: #221F20;
  justify-content: center;
  color: var(--beige);
  padding: 1.38vw 0;
  font-size: 0.82vw;
}

@media (min-width: 576px) {
  .header__navVertical {
    display: none;
  }
  .header__btnBurger {
    display: none;
  }
}

@media (max-width: 576px) {
  .header__options {
    display: none;
  }
}
